/*Author:             Sep de Graaff*/
/*Date:               5-7-2023*/

/*Description:       Main ccs for the index page*/

/*Enabling external fonts*/
@font-face
{
    font-family: 'plus_jakarta_sans_medium';
    src: url("../Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf");
}

@font-face
{
    font-family: 'plus_jakarta_sans_Ebold';
    src: url("../Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf");
}

@font-face
{
    font-family: 'plus_jakarta_sans_bold';
    src: url("../Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf");
}

/*Width for main*/
main
{
    width: 100%;
}

/*Removes margin and padding from multiple elements*/
body, p, .heading-m, .body-m, .heading-S
{
    margin: 0;
    padding: 0;
}

/*Font presets*/
.body-m
{
    /*Font family added*/
    font-family: 'plus_jakarta_sans_medium';
    /*Font size relative to px*/
    font-size: 1em;
    /*Padding for top, bottom and sides*/
    padding: 0 30px;
    /*Removed margin*/
    margin: 0;
    /*Line-height to space the sentences*/
    line-height: 28px;
    /*Text color*/
    color: #83869A;
}

.body-s
{
    /*Font family added*/
    font-family: 'plus_jakarta_sans_bold';
    /*Font size relative to px*/
    font-size: 0.88em;
    /*Block element display so hovering is more accurate*/
    display: block;
    /*Padding for all sides*/
    padding: 30px;
    /*Custom gradient for letters*/
    background: -webkit-linear-gradient(#FF6F48, #F02AA6);
    /*Clips only the text*/
    -webkit-background-clip: text;
    /*Makes the color gradient */
    -webkit-text-fill-color: transparent;
    /*No automatic styles from the links*/
    text-decoration: none;
}

.heading-m
{
    /*Font family added*/
    font-family: 'plus_jakarta_sans_Ebold';
    /*Font size relative to px*/
    font-size: 1.77em;
    /*Padding differing from side to side*/
    padding: 50px 30px;
    /*Removes margin*/
    margin: 0;
    /*Line-height to space the sentences*/
    line-height: 40px;
    /*Text color*/
    color: white;
}

.heading-S
{
    /*Font family added*/
    font-family: 'plus_jakarta_sans_Ebold';
    /*Font size relative to px*/
    font-size: 1.4em;
    /*Padding differing from all sides*/
    padding: 0px 30px 20px 30px;
    /*Removes margin*/
    margin: 0;
    /*Line-height to space the sentences*/
    line-height: 28px;
    /*Text color*/
    color: #13183F;
}

/*Hovering*/

.body-s:hover
{
    /*Changes take 0.3 seconds*/
    transition: 0.5s ease-in-out;
    /*Increase font-size*/
    font-size: 1em;
    background: -webkit-linear-gradient(#4851FF, #F02AA6);
    /*Clips only the text*/
    -webkit-background-clip: text;
    /*Makes the color gradient */
    -webkit-text-fill-color: transparent;
    /*No automatic styles from the links*/
}

/*Box styling*/

#section-wrapper
{
    /*Flex functions*/
    display: flex;
    /*Direction of the row is in a column*/
    flex-direction: column;
    /*The gap between the upper and under side of the elements*/
    row-gap: 50px;
    /*Justifies the elements into the center*/
    justify-content: center;
    /*Width and Height*/
    width: 100%;
    height: 100vh;
    /*Gradient background color*/
    background-image: linear-gradient(to bottom right, #FFFFFF, #f3f3ff);
}

.row
{
    /*FLex functions*/
    display: flex;
    /*Gap between elements*/
    gap: 50px;
    /*Makes rows out of the elements inside*/
    flex-direction: row;
    /*Aligns itself in the center*/
    align-self: center;
}


.box-wrapper
{
    /*Box sizing to the border-box*/
    box-sizing: border-box;
    /*Width and height*/
    width: 300px;
    height: 300px;
    /*Background color*/
    background-color: #ffffff;
    /*Border radius for smoother edges*/
    border-radius: 10px;
    /*Small shadow to make the blocks pop more*/
    box-shadow: 1px 1px 14px #e5e5e5;
}

/*Gradient background color*/
#courses-box
{
    background-image: linear-gradient(#FF6F48, #F02AA6);
}

/*Icon styling*/

.icon
{
    /*Positioning of the icon*/
    position: relative;
    bottom: 12%;
    left: 10%;
}

/*Responsive*/

@media only screen and (min-width: 100px) and (max-width: 799px)
{
    #section-wrapper
    {
        /*Width and height*/
        width: 100%;
        height: 200%;
        /*Padding for better spacing*/
        padding: 40px 0 40px 0;
    }

    /*Changes the row to column so they go from top to bottom*/
    .row
    {
        flex-direction: column;
    }
}

@media only screen and (min-width: 799px) and (max-width: 1400px)
{
    /*Changes the flex the direction and makes the gap bigger*/
    #section-wrapper
    {
        flex-direction: row;
        gap: 20px;
    }

    /*Changes flex direction again to put the rows under each other*/
    .row
    {
        flex-direction: column;
    }

}




